* {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  scroll-behavior: smooth;

}

/* .container {
  padding: 0;
  margin: 0;
} */
ol,ul{
  margin: 0;
  padding: 0 !important;
}
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
*+h2,*+p{
  margin: 0 !important;
}
/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
  .heuText {
    width: 80% !important;
  }

  .stylistTextEffect {
    width: 60% !important;
    margin: auto;
    margin-bottom: 20px !important;
    overflow: hidden;
  }
  .heuText>p {
    font-size: 19px !important;
  }
  .bottom-stylistTextEffect {
    font-size: 40px !important;
  
  }
  .top-stylistTextEffect {
    font-size: 40px !important;
  }
  .inputLink {
    margin-top: 20% !important;
  }
  .serviceSectionContent>i{
    font-size: 40px !important;
    padding: 10px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 600px) {






}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 768px) {






}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: 992px) {






}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {






}



.navbarMain {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.navbar-brand {
  width: 10%;
}

.navPart1 {
  width: 80%;
}

.navbar-toggler-icon {
  color: white;
  border-color: white !important;
}

.navPart2 {
  width: 20%;
}

.btn-primary {
  border-radius: 10px !important;
  background:white !important;
  color: #010c35 !important;
  font-weight: bold !important;
  border: none !important;
}
.heuSection{
  padding-bottom: 8%;
}
.containerONe {
  width: 100%;
  background: linear-gradient(90deg, #021B79, #0575E6);

}

.heuText {
  width: 60%;
  margin: auto;
}

.heuText>p {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 35px 20px 20px 20px;
  margin: 0px;
}

.nav-link,
.navbar-brand {
  color: rgb(255, 255, 255) !important;
  background-color: none;
}



.stylistTextEffect {
  width: 34%;
  margin: auto;
  margin-bottom: 60px;
}

.bottom-stylistTextEffect {
  color: #ffffff00;
  font-weight: bold;
  font-size: 80px;
  position: absolute;

}

.top-stylistTextEffect {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-weight: bold;
  clip-path: circle(25% at 85% 50%);
  animation: circleMove 6s ease-in-out infinite;
  position: absolute;
}

@keyframes circleMove {

  0%,
  100% {
    clip-path: circle(20% at 85% 50%);
  }

  50% {
    clip-path: circle(20% at 15% 50%);
  }
}

.inputLink {
  margin-top: 15% !important;
}
/* .input-group{
  width: 80% !important;
} */

.form-control {
  height: 50px;
}

.btnShorten {
  color: white !important;
  font-size: 20px;
  background-color: rgb(0, 46, 114) !important;
}

/* .waveCurve {
margin-top: -35px;
} */

.serviceSection, 
.blogSectionAll, 
.cardSection, 
.footerSection,
.videoSection {
  width: 90%;
  margin: auto !important;
  text-align: center;
  z-index: 1000;
  padding-bottom: 50PX;
  
}
.serviceSectionContent{
  border: 2px solid rgba(136, 136, 136, 0.253);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.serviceSectionContent>i{
  font-size: 70px;
  color:#010c35;
  padding: 20px;
}
.serviceSectionContent>h2{
  color:#010c35;
  white-space: nowrap;
  
}
.serviceSectionContent>p{
  text-align: center;
  color:#010c35;
  padding: 20px;
}
.wave3{
  margin-bottom: 20px;
}
.cardSectionAll,.footerSectionAll{
  background: linear-gradient(90deg, #021B79 ,#0575E6);
}
.cardSectionHEader{
  text-align: center;
  font-weight: bold;
  color: white !important;
  padding: 10px;
}
.cardSectionContent{
  background: rgba(255, 255, 255, 0.055);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
  cursor: pointer;
}
.uk-grid>*>:last-child {
  padding-bottom: 20px !important;
}
.cardSectionContent:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.116);
  transition: 0.4s;
}
.cardSectionContentHeader{
  background-color: white;
  padding: 10px 10px 0px 10px;
  border-radius:20px 20px 0px 0px ;
}
.cardSectionContentHeader>h1{
  color:rgb(0, 15, 58) ;
  display:inline-block !important;
}
.cardSectionContentText{
  padding: 20px 20px 5px 20px;
}
.cardSectionContent>i{
  color: rgb(255, 255, 255);
}

.cardSectionContentText>p{
color: rgb(255, 255, 255);
text-align: left !important;
}
.paddingLast{
  padding-bottom: 33px;
}
.cardSectionContentFooter{
  padding: 15px 10px 15px 10px;
  border-radius:0px 0px 20px 20px ;
}

.blogSectionHEader{
  text-align: center;
  font-weight: bold;
  padding: 20px;
  color: rgb(0, 15, 58) !important;
}
.blogSectionCardContent{
  padding: 20px;
  border: 2px solid #010c351f;
  border-radius: 5px;
}
.blogSectionCardContent:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.blogSectionCardContent>a{
text-decoration: none;
color: #010c35;
}
.blogSectionCardContent>a>img{
  width: 100%;
  height: auto;
}
.blogSectionCardContent>a>h3{
  color: #010c35;
  font-weight: bold;
}
.blogSectionCardContent>a>p{
  color: #010c35;
}
.videoSectionAll{
  background: linear-gradient(90deg, #021B79 ,#0575E6);
}
.videoSectionHeader{
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
}
.videoSectionContentVideo{
  padding: 5px;
}
.footer{
  background: linear-gradient(90deg, #021B79 ,#0575E6);
}



