* {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  scroll-behavior: smooth;

}

.container {
  padding: 0;
  margin: 0;
}
ol,ul{
  margin: 0;
  padding: 0 !important;
}
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbarMain {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.navbar-brand {
  width: 10%;
}

.navPart1 {
  width: 80%;
}

.navbar-toggler-icon {
  color: white;
  border-color: white !important;
}

.navPart2 {
  width: 10%;
}

.btn-primary {
  padding: 10px 25x 10px 25px !important;
  border-radius: 10px !important;
  background:white !important;
  color: #010c35 !important;
  font-weight: bold !important;
  border: none !important;
}
.heuSection{
  padding-bottom: 8%;
}
.containerONe {
  width: 100%;
  background: linear-gradient(90deg, #021B79, #0575E6);

}

.heuText {
  width: 40%;
  margin: auto;
}

.heuText>p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 35px 20px 20px 20px;
  margin: 0px;
}

.nav-link,
.navbar-brand {
  color: rgb(255, 255, 255) !important;
  background-color: none;
}



.stylistTextEffect {
  width: 34%;
  margin: auto;

}

.bottom-stylistTextEffect {
  color: #ffffff00;
  font-weight: bold;
  font-size: 6vw;
  position: absolute;

}

.top-stylistTextEffect {
  color: rgb(255, 255, 255);
  font-size: 6vw;
  font-weight: bold;
  clip-path: circle(25% at 85% 50%);
  animation: circleMove 6s ease-in-out infinite;
  position: absolute;
}

@keyframes circleMove {

  0%,
  100% {
    clip-path: circle(20% at 85% 50%);
  }

  50% {
    clip-path: circle(20% at 15% 50%);
  }
}

.inputLink {
  width: 50% !important;
  margin: auto !important;
  margin-top: 10% !important;
}

.form-control {
  height: 50px;
}

.btnShorten {
  color: white !important;
  font-size: 1.5vw !important;
  background-color: rgb(0, 46, 114) !important;
}

.waveCurve {
margin-top: -35px;
}

.serviceSection{
  width: 90%;
  margin: auto !important;
  text-align: center;
  z-index: 1000;
  
}
.serviceSectionContent{
  border: 2px solid rgba(136, 136, 136, 0.253);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.serviceSectionContent>i{
  font-size: 70px;
  color:#010c35;
  padding: 20px;
}
.serviceSectionContent>h2{
  color:#010c35;
  white-space: nowrap;
  
}
.serviceSectionContent>p{
  text-align: center;
  color:#010c35;
  padding: 20px;
}
.wave3{
  margin-bottom: 20px;
}
.cardSectionAll{
  background: linear-gradient(90deg, #021B79 ,#0575E6);
}
.cardSectionHEader{
  text-align: center;
  font-weight: bold;
  color: white !important;
  padding: 10px;
}
.cardSection{
  width: 90% !important;
  margin: auto !important;
  
}
.cardSectionContent{
  background: rgba(255, 255, 255, 0.055);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.151);
  cursor: pointer;
}
.cardSectionContent:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.116);
  transition: 0.4s;
}
.cardSectionContentHeader{
  background-color: white;
  padding: 10px 10px 0px 10px;
  border-radius:20px 20px 0px 0px ;
}
.cardSectionContentHeader>h1{
  color:rgb(0, 15, 58) ;
  display:inline-block !important;
}
.cardSectionContentText{
  padding: 20px 20px 5px 20px;
}
.cardSectionContent>i{
  color: rgb(255, 255, 255);
}

.cardSectionContentText>p{
color: rgb(255, 255, 255);
text-align: left !important;
}
.paddingLast{
  padding-bottom: 33px;
}
.cardSectionContentFooter{
  /* background-color: white; */
  padding: 15px 10px 15px 10px;
  border-radius:0px 0px 20px 20px ;
}